*{
    padding: 0;
    margin: 0;
}
.backimg{
    width: 100%;
    height: 100vh;
    background-image: url('8.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.profile{
    width: 400px;
    background-color: rgb(27, 8, 71);
    border-radius: 10px;
}
img{
    height: 250px;
    border-radius:70% ;

}